
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Book Store - KMG</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.min.js"></script>
</head>
<body class="container">
    <img src="~/images/imagicaa_logo.svg" alt="Imagicaa Logo" class="logo" />
    <h1>Welcome to Book Store Application</h1>
    <p></p>This is home page of Book Store Application
</body>
</html>
